# Area

In [8]:
lenght = float(input("enter a lenght here : "))
widht = float(input("enter a hight here : " ))
area = (lenght*widht)
print(area,"meter square")

enter a lenght here : 25
enter a hight here : 25
625.0 meter square

# Sallery

In [9]:
area = float(input("enter a area here : "))
per_meter = 150
salerry = (area*per_meter)
print(salerry)

enter a area here : 625
93750.0

# Surface area

In [ ]:
r = 25
pi = 3.14
surface_area = (0.5*pi*(r*r*r))
print(f"the surface area is {surface_area} " )

# convert leter

In [ ]:
surface_area = float(input("enter a value : " ))
convert_leter = surface_area*1000
print(convert_leter)

# concoluction

In [16]:
print(f"""
the area is {area} 
this sellary is {salerry}
the surface area is {surface_area}
the convert leter is {convert_leter}
""")

the area is 625.0
this sellary is 93750.0
the surface area is 24531.25
the convert leter is 24531250.0

In [ ]:
24531250